<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../src/css/main.css">
    <link rel="stylesheet" type="text/css" href="../src/fontawesome/css/all.css">
    <script src="../src/js/angular.min.js"></script>
    <script type="text/javascript" src="../src/js/angular-route.min.js"></script>
    <script src="../src/js/angular_controllers.js"></script>
    <script type="text/javascript" src="../src/js/angular-my-services.js"></script>
    <script type="text/javascript" src="../src/js/ngStorage.js"></script>

    <title>Quizzen</title>
</head>

<body ng-app="theApp">
    <div id="wrapper">
        <div class="container-fluid h-100" style="background-color: #f9faff;">
            <div class="row w-100">
                <div class="col-md-12 d-flex justify-content-between mb-3" style="height: 58px;">
                    <div class="d-flex align-items-center">
                        <img src="images/game-controller.png" width="32" height="32">
                        <span class="h5 m-0 pl-2">Quizzen</span>
                    </div>

                    <div class="d-flex align-items-center">
                        <button class="btn btn-outline-qznprimary">Get the App</button>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <h1 class="mb-3">Enter your Employee ID</h1>
                <p class="text-qzndanger mb-3">Error here.</p>
            </div>

            <div class="row d-flex align-items-center">
                <div class="col-md-4 mx-auto">
                    <div class="card p-4">
                        <div class="card-body text-center">                            
                            <div class="form-group input-group-lg m-1">
                                <input type="text" class="form-control" placeholder="Employee ID" ng-model="empID">
                            </div>
                            <div class="form-group input-group-lg m-1">
                                <input type="text" class="form-control" placeholder="First Name" ng-model="fname">
                            </div>
                            <div class="form-group input-group-lg m-1">
                                <input type="text" class="form-control" placeholder="Middle Name" ng-model="mname">
                            </div>
                            <div class="form-group input-group-lg m-1">
                                <input type="text" class="form-control" placeholder="Last Name" ng-model="lname">
                            </div>
                            <div class="form-group m-1 position-relative">
                                <textarea class="form-control" id="text_desc" placeholder="Message" rows="3" onfocus="showTxtRemaining('#text_desc', '#text_feedback-desc', 250);"
                                    onblur="hideMe('#text_feedback-desc');" ng-model="message"></textarea>
                                <div class="text-remaining-indicator align-self-center" id="text_feedback-desc"></div>
                            </div>
                            <div class="form-group m-1">
                                <button class="btn btn-qznprimary btn-lg btn-block my-2" type="button" ng-click="openRequest()">Request</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<script src="../src/js/jquery.min.js"></script>
<script src="../src/js/popper.min.js"></script>
<script src="../src/js/bootstrap.min.js"></script>
<script src="../src/js/script.js"></script>

</html>