<!-- Modal -->
<!-- New Quiz Modal -->
<div class="modal fade" id="newQuiz-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 id="modalTitle" class="modal-title text-qznprimary">New Quiz</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="myForm">
                    <div class="alert alert-danger alert-dismissible fade show" ng-show="error1">
                        {{error1}}
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Quiz title" ng-model="quizTitle"
                            required>
                    </div>
                        <div class="form-group">
                        <textarea class="form-control" maxlength="250" placeholder="Quiz Description" rows="3" ng-model="quizDesc"
                            required></textarea>
                    </div>
                    <div class="custom-file mb-3">
                        <input type="file" accept="image/*" class="custom-file-input" file-input="files">
                        <label class="custom-file-label">Choose image</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="button" ng-click="addNewQuiz()">
                            <i class="fas fa-plus"></i> Add New Quiz
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Quiz Modal -->
<div class="modal fade" id="editQuiz-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h4 id="modalTitle" class="modal-title text-qznprimary">Edit Quiz</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="myForm">
                    <div class="alert alert-danger alert-dismissible fade show" ng-show="error">
                        All fields are required
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Quiz title" ng-model="quizTitle"
                            required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" maxlength="250" placeholder="Quiz Description" rows="3" ng-model="quizDesc"
                            required></textarea>
                    </div>
                    <div class="custom-file mb-3">
                        <input type="file" accept="image/*" class="custom-file-input">
                        <label class="custom-file-label">Choose image</label>
                    </div>
                    <div class="fomr-group">
                        <button class="btn btn-primary btn-block" type="button" ng-disabled="myForm.$invalid"
                            ng-click="updateQuiz(quizID, quizTitle, quizDesc)">
                            <i class="fas fa-edit" ng-click="save()"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div id="page-content-wrapper">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-md-12 pt-5" style="padding: 6rem; padding-bottom: 3rem;">
                <div class="row">
                    <div class="col-md-9">
                        <span class="h1">My Quizzen</span>
                    </div>

                    <div class="col-md-3 py-1">
                        <button id="addStudent" class="btn btn-qznprimary float-right" data-toggle="modal"
                            data-target="#newQuiz-modal">
                            <i class="far fa-plus-square"></i>
                            Add Quiz
                        </button>
                    </div>

                    <nav class="col-md-12">
                        <ol class="breadcrumb px-0">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active">
                                My Quizzen
                            </li>
                        </ol>
                    </nav>

                    <!-- Experimental Nav -->
                    <!-- <nav class="nav nav-tabs">
                        <a href="#" class="nav-link active">Quizzes</a>
                        <a href="#" class="nav-link">Favorites</a>
                    </nav> -->
                </div>

                <div class="row">
                    <div class="col-md-3 mb-4 px-1" ng-repeat="info in quizInfo | filter: searchTxt">
                        <div class="card">
                            <a ng-href="#!/viewparts/{{info.quizID}}"><img class="card-img-top" height="152" ng-src="{{info.filepath}}" alt="Card image cap"></a>
                            <div class="card-body">
                                <a ng-href="#!/viewparts/{{info.quizID}}"><h4 class="mb-0">{{info.quizTitle}}</h4></a>
                                <p class="text-secondary my-1" style="font-size: 14px;">{{info.date_created}}</p>
                                <p class="text-qznprimary my-1" style="font-size: 14px;">
                                    <i class="far fa-play-circle"></i>
                                    6 times played
                                </p>
                                <!-- <p class="text-secondary" style="font-size: 14px;">{{info.description}}</p> -->
                            </div>

                            <div class="card-footer bg-white">
                                <ul class="nav nav-justified quiz-options">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link text-secondary">
                                            <i class="far fa-play-circle fa-lg"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a ng-click="getQuizData(info.quizID)" data-toggle="modal" data-target="#editQuiz-modal" class="nav-link text-secondary">
                                            <i class="far fa-edit fa-lg"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link text-secondary">
                                            <i class="far fa-trash-alt fa-lg"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link text-secondary">
                                            <i class="far fa-heart fa-lg"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <!-- Error Message -->
                    <div class="col-12 text-center" ng-show="error">
                        <h3>No quiz created.</h3>
                        <p>
                            <a href="#!/createquiz"> <button class="btn btn-primary">Create now</button></a>
                        </p>

                    </div>
                </div> <!-- End row -->
            </div>
        </div>
    </div> <!-- End container-fluid -->
</div> <!-- End page-content-wrapper -->
