<!--    MODAL    -->
<!-- Edit Section Modal -->
<div class="modal fade" id="sectionModalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h4 id="modalTitle" class="modal-title text-qznprimary">Edit Section</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <select class="custom-select my-3" ng-model="courseID" ng-options="c.course_id as c.course for c in courses" ng-change="setPrefix(courseID)">
                        <option disabled hidden value="">Courses Available</option>   
                    </select>

                    <div class="input-group position-relative">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{prefix}}</span>
                        </div>
                        <input type="text" class="form-control" id="sectionName" ng-model="sectionName" placeholder="Section Name" onfocus="showTxtRemaining('#sectionName', '#text_feedback-sectionName', 30);" onblur="hideMe('#text_feedback-sectionName');">
                        <div class="text-remaining-indicator align-self-center" id="text_feedback-sectionName"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-top-0">
                <p class="text-right">
                    <a href="#" class="card-link text-qzndanger" data-dismiss="modal">Cancel</a>
                    <a ng-click="updateSection(courseID, sectionName, section.section_id)" class="card-link">Save</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Add Section Modal -->
<div class="modal fade" id="sectionModalAdd" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h4 id="modalTitle" class="modal-title text-qznprimary">Add Section</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <select class="custom-select my-3" ng-model="courseID" ng-options="c.course_id as c.course for c in courses" ng-change="setPrefix(courseID)">
                        <option disabled hidden value="">Courses Available</option>   
                    </select>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{prefix}}</span>
                        </div>
                        <input type="text" class="form-control" ng-model="sectionName" placeholder="Section Name">
                    </div>
                </form>
            </div>

            <div class="modal-footer border-top-0">
                <p class="text-right">
                    <a href="#" class="card-link text-qzndanger" data-dismiss="modal">Cancel</a>
                    <a ng-click="addSection(courseID)" class="card-link">Add Section</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Delete Section Modal -->
<div class="modal fade" id="deleteSectionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="height: 145px;">
            <div class="modal-header border-bottom-0">
                <h4 class="modal-title text-qznprimary">Delete Section</h4>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>This will delete the section and students.</p>
            </div>

            <div class="modal-footer border-top-0">
                <p class="text-right">
                    <a href="#" class="card-link" data-dismiss="modal">Cancel</a>
                    <a href="#" class="card-link text-qzndanger">Delete</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div id="page-content-wrapper">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-md-12 pt-5" style="padding: 6rem;">
                <div class="row">
                    <div class="col-md-9">
                        <span class="h1">Section List</span>
                    </div>

                    <div class="col-md-3 py-1">
                        <button id="addSection" class="btn btn-qznprimary float-right" data-toggle="modal" data-target="#sectionModalAdd" ng-click="getCourses()">
                            <i class="far fa-plus-square"></i>
                            Add Section
                        </button>
                    </div>

                    <nav class="col-md-12">
                        <ol class="breadcrumb px-0">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Section List
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class="row">
                    <div class="d-flex col-md-12 px-0">
                        <div class="table-responsive ml-3">
                            <table class="table" style="border-collapse: separate; border-spacing: 0 10px;">
                                <tbody>
                                    <tr ng-repeat="section in sections | filter: searchTxt" class="text-secondary p-4" style="border: 1px solid black;">
                                        <td class="align-middle py-4" style="height: 140px;">
                                            <div style="height: 100%;">
                                                <p class="h3 mb-0">{{section.prefix}} {{section.section}}</p>
                                                <p class="h6 my-1">2018 - 2017</p>
                                                <div class="img-stacks">
                                                    <img class="rounded-circle" src="images/marianne.jpg" width="32" height="32" />
                                                    <img class="rounded-circle" src="images/chris.jpg" width="32" height="32" />
                                                    <img class="rounded-circle" src="images/allen.jpg" width="32" height="32" />
                                                    <div class="position-absolute section-count-players">
                                                        +18 players
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="align-middle" style="width: 15%;">
                                            <a  ng-href="#!/viewSection/{{section.section_id}}">
                                                <button type="button" class="btn btn-qznsuccess" style="width: 100%;">
                                                    <i class="far fa-eye"></i>
                                                    View
                                                </button>
                                            </a>
                                        </td>

                                        <td class="align-middle" style="width: 15%;">
                                            <button type="button" class="btn btn-qznwarning editSection" style="width: 100%;" ng-click="transferSectionData(section.section_id, section.course_id, section.section)" data-toggle="modal" data-target="#sectionModalEdit" data-section="{{section.section}}">
                                                <i class="far fa-edit"></i>
                                                Update
                                            </button>
                                        </td>
                                        
                                        <td class="align-middle pr-5" style="width: 18%;">
                                            <button type="button" class="btn btn-qzndanger deleteSection" style="width: 100%;" data-toggle="modal" data-target="#deleteSectionModal">
                                                <i class="fas fa-power-off"></i>
                                                Deactivate
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item active">
                            <span class="page-link">1</span>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">3</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>
