<!-- Modal -->
<!-- Import from CSV modal -->
<div class="modal fade" id="importCSV-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h4 class="modal-title text-qznprimary">Import from CSV</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <b style="color: red;">{{csverror.error}}</b>
                <b style="color: green;">{{csvsuccess.success}}</b>
                <p><a href="../src/assets/csvformats/QuizzenMultipleChoiceFormat.csv" download>Download our CSV Template</a></p>
                <p>or</p>
                <p class="m-0">                    
                    <input type="file" id="file" class="hiddenFile" file-input="files">
                    <label for="file" class="btn btn-primary">Choose a file</label>
                </p>                 
            </div>
            <div class="modal-footer border-top-0">
                <p class="text-secondary m-0 px-3">Cancel</p>
                <button type="button" class="btn btn-primary" ng-click="uploadCSV()">Upload</button>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div id="page-content-wrapper">
    <div class="container-fluid p-0">                
        <div class="row no-gutters">
            <div class="col-md-6 mt-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12 py-3 text-center">
                            <p class="text-center mb-3 h5">Multiple Choice</p>
                            <form name="myForm" ng-submit="insert()">
                                <div class="alert alert-danger alert-dismissible fade show" ng-show="error">
                                    {{error.message}}
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span>&times;</span>
                                    </button>                            
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Question" rows="3" ng-model="question" required></textarea>
                                </div>

                                <div class="form-group">
                                    <input only-letters-input type="text" class="form-control" placeholder="Answer" ng-model="answer" required>
                                </div>

                                <!--CHOICESSSSS-->
                                <div class="form-group">
                                    <input only-letters-input type="text" class="form-control" placeholder="A" ng-model="choice1" required>
                                </div>
                                
                                <div class="form-group">
                                    <input only-letters-input type="text" class="form-control" placeholder="B" ng-model="choice2" required>
                                </div>
                                
                                <div class="form-group">
                                    <input only-letters-input type="text" class="form-control" placeholder="C" ng-model="choice3" required>
                                </div>
                                
                                <div class="form-group">
                                    <input only-letters-input type="text" class="form-control" placeholder="D" ng-model="choice4" required>
                                </div>
                                <!--END OF CHOICESSSSS-->

                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" type="button" ng-disabled="myForm.$invalid" ng-click="multipleQuestion()">
                                        <i class="far fa-plus-square"></i> Add Question
                                    </button>
                                </div> 
                                <a data-toggle="modal" data-target="#importCSV-modal"><p class="text-primary">Import from CSV</p></a>
                            </form>
                        </div>                                                           
                    </div>                                    
                </div>
            </div>
        </div>
    </div>                    
</div>