<div class="mainContainer">
    <div class="quizzen-header">
        <div class="header-title__container mb-0">
            <h1 class="m-0">Published Segment</h1>
            <button class="btn btn-qznprimary">Unknown Button</button>
        </div>
        <div class="header-nav__container">
            <nav>
                <ol class="breadcrumb m-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="#">My Quizzen</a>
                    </li>
                    <li class="breadcrumb-item active">
                        {{quizTitle}}
                    </li>
                </ol>
            </nav>
            <p class="my-2">{{description}}</p>
        </div>
    </div>

    <div class="accordion w-100" id="segmentsAccordion">
        <div class="quizzen-list__content-wrap">
            <div ng-repeat="part in parts">
                <div class="quiz-item__container my-1">
                    <div class="segment-card__content-wrap card p-3">
                        <div class="segment-card-header">
                            <div>
                                <div style="background-color: rgb(233, 210, 253); width: auto; display: inline-block; padding: 2px 10px; border-radius: 50px; color: rgba(104, 29, 168, 0.72);">{{part.Type}}</div>
                                <h4>{{part.PartTitle}}</h4>
                            </div>
                            <div>
                                <button class="btn btn-qznsuccess" data-toggle="collapse" data-target="#collapse_{{part.PartID}}_{{part.TypeID}}" ng-click="view(part.PartID,part.TypeID)">Show</button>
                            </div>
                        </div>
                        <div class="collapse" id="collapse_{{part.PartID}}_{{part.TypeID}}" data-parent="#segmentsAccordion">
                            <div class="card-body">
                                <div ng-repeat="question in questions">
                                    <h5 class="m-0">Question: {{question.Question}}</h5>

                                    <!--MULTIPLE CHOICE-->
                                    <div ng-show="validate_1" class="mb-2">
                                        <p class="m-0"> A. {{question.a}} </p>
                                        <p class="m-0"> B. {{question.b}} </p>
                                        <p class="m-0"> C. {{question.c}} </p>
                                        <p class="m-0"> D. {{question.d}} </p>
                                    </div>

                                    <!--TRUE OR FALSE-->
                                    <div ng-show="validate_2" class="mb-2">
                                        <p class="m-0"> True </p>
                                        <p class="m-0"> False</p>
                                    </div>
                                    <!--GUESS WORD -->
                                    <div ng-show="validate_4" class="mb-2">
                                        <p class="m-0"> S_MP__</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>