<div class="container-fluid h-100 bg-white">
    <div class="row d-flex align-items-center h-100">
        <div class="col-12 col-md-3 mx-auto">
            <form name="myForm">
                <div class="col-md-12 text-center">
                    <img src="images/game-controller (2).png">
                </div>

                <h1 class="text-primary mb-3 text-center">Hello, {{fname}} {{lname}}!</h1>
                <div class="alert alert-danger alert-dismissible fade show" ng-show="error">
                    {{error.message}}
                    <button type="button" class="close" data-ng-click="reply = null">
                        <span>&times;</span>
                    </button>
                </div>

           
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" ng-model="username" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" ng-model="password1" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Re-type password" ng-model="password2"
                        required>
                </div>
                
                <div class="form-group">
                    <input type="button" class="btn btn-outline-primary btn-block" value="Sign Up" ng-click="signUp()">
                </div>
                <p class="text-primary text-center mt-2"><a href="#!/home">Already have an account? Sign In</a></p>
            </form>
        </div>
    </div>
</div>