
<!-- Page content -->
<div id="page-content-wrapper">
    <div class="container-fluid p-0 h-100">                
        <!-- <div class="row no-gutters"> -->
            <div class="col-md-6 mt-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12 py-3 text-center">
                            <p class="text-center mb-3 h5">Update Student</p>
                            <form name="myForm">
                                <div class="alert alert-danger alert-dismissible fade show" ng-show="error">
                                    {{error.message}}
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span>&times;</span>
                                    </button>
                                </div>

                                <div class="input-group mb-3 position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-id-badge"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="text_oldStudID" placeholder="Student ID" ng-model="currentStudId" onfocus="showTxtRemaining('#text_oldStudID', '#text_feedback-oldStudID', 10);" onblur="hideMe('#text_feedback-oldStudID');">
                                    <div class="text-remaining-indicator align-self-center" id="text_feedback-oldStudID"></div>
                                </div>
                
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-sitemap"></i></span>
                                    </div>
                                    <select class="custom-select" ng-options="c.course_id as c.course for c in replyCourses" ng-model="courseId" required>
                                        <option disabled hidden value="">Course</option>
                                    </select>
                                </div>
                
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-sitemap"></i></span>
                                    </div>
                                    <select active class="custom-select" ng-change="soHot()" ng-options="s.section_id as s.section for s in replySections
                                    | filter:{course_id:courseId}" ng-model="sectionId" ng-disabled="!courseId" required>
                                        <option disabled hidden value="">Section</option>
                                    </select>
                                </div>

                                <div class="input-group mb-3 position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-user-circle"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="text_fname" ng-model="fname" placeholder="First Name" onfocus="showTxtRemaining('#text_fname', '#text_feedback-fname', 50);" onblur="hideMe('#text_feedback-fname');" required>
                                    <div class="text-remaining-indicator align-self-center" id="text_feedback-fname"></div>
                                </div>

                                <div class="input-group mb-3 position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-user-circle"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="text_mname" ng-model="mname" placeholder="Middle Name" onfocus="showTxtRemaining('#text_mname', '#text_feedback-mname', 50);" onblur="hideMe('#text_feedback-mname');" required>
                                    <div class="text-remaining-indicator align-self-center" id="text_feedback-mname"></div>
                                </div>

                                <div class="input-group mb-3 position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-user-circle"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="text_lname" ng-model="lname" placeholder="Last Name" onfocus="showTxtRemaining('#text_lname', '#text_feedback-lname', 50);" onblur="hideMe('#text_feedback-lname');" required>
                                    <div class="text-remaining-indicator align-self-center" id="text_feedback-lname"></div>
                                </div>

                                <div class="forn-group">
                                    <input type="button" class="btn btn-outline-primary btn-block" value="Save" ng-click="saveStud()" ng-disabled="myForm.$invalid">
                                </div>
                            </form>
                        </div>                                                           
                    </div>                                    
                </div>
            </div>
        <!-- </div> -->
    </div>                    
</div>