<!-- Modal -->
<!-- MODAL TRUE OR FALSE -->
    <div class="modal fade" id="multipleChoicemodal_2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h4 id="modalTitle" class="modal-title text-qznprimary">Update Question</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Question" rows="3" ng-model="question" id="question" required></textarea>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="answer" id="answer" placeholder="Answer">
                        </div>
                    </form>
                </div>

                <div class="modal-footer border-top-0">
                    <p class="text-right">
                        <a href="#" class="card-link text-qzndanger" data-dismiss="modal">Cancel</a>
                        <a ng-click="updateTrueorFalse(QuestionID, QuizID, PartID, question, answer)" class="card-link text-qznprimary">Save</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- MODAL FOR GUESS WORD -->
    <div class="modal fade" id="multipleChoicemodal_4" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h4 id="modalTitle" class="modal-title text-qznprimary">Update Question</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Question" rows="3" ng-model="question" id="question" required></textarea>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="answer" id="answer" placeholder="Answer">
                        </div>
                    </form>
                </div>

                <div class="modal-footer border-top-0">
                    <p class="text-right">
                        <a href="#" class="card-link text-qzndanger" data-dismiss="modal">Cancel</a>
                        <a ng-click="updateGuessWord(QuestionID, QuizID, PartID, question, answer)" class="card-link text-qznprimary">Save</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <!--UPDATE FOR MULTIPLE CHOICE-->
    <div class="modal fade" id="multipleChoicemodal_1" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h4 id="modalTitle" class="modal-title text-qznprimary">Update Question</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Question" rows="3" ng-model="question" id="question" required></textarea>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="answer" id="answer" placeholder="Answer">
                        </div>
                         <div class="input-group">
                            <input type="text" class="form-control" ng-model="choice1" id="choice1" placeholder="A.">
                        </div>
                         <div class="input-group">
                            <input type="text" class="form-control" ng-model="choice2" id="coice2" placeholder="B.">
                        </div>
                         <div class="input-group">
                            <input type="text" class="form-control" ng-model="choice3" id="choice3" placeholder="C.">
                        </div>
                         <div class="input-group">
                            <input type="text" class="form-control" ng-model="choice4" id="choice4" placeholder="D.">
                        </div>
                    </form>
                </div>

                <div class="modal-footer border-top-0">
                    <p class="text-right">
                        <a href="#" class="card-link text-qzndanger" data-dismiss="modal">Cancel</a>
                        <a ng-click="updateMultiple(QuestionID, question, answer, choice1, choice2, choice3,choice4)" class="card-link text-qznprimary">Save</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

<!-- Page content -->
<div id="page-content-wrapper">
    <div class="container-fluid p-0 h-100">
        <!-- <div class="row no-gutters"> -->
            <div class="col-md-12 pt-7" style="padding: 6rem; padding-bottom: 3rem;">
                <div class="row">
                    <div class="col-md-9">
                        <span class="h1">Freeflow</span>
                    </div>

                    <!--ADD QUESTION IN FREEFLOW-->
                        <div class="col-md-3 py-1">
                            <a href="#!/checker/{{parts[0].TypeID}}/{{parts[0].QuizID}}/{{parts[0].PartID}}" class="btn btn-qznprimary text-white float-right" role="button">
                                <i class="far fa-plus-square"></i>
                                Add Question
                            </a>
                        </div>

                    <nav class="col-md-12">
                        <ol class="breadcrumb px-0">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active">
                            {{quizTitle}}
                            </li>
                        </ol>
                    </nav>
                    <nav class="col-md-12">
                            {{description}}
                    </nav>
                </div>

                <div ng-repeat="part in parts" class="row">
                    <div data-ng-init="view(part.PartID)" class="col-md-12">
                        <p class="text-qznprimary text-right">
                            <a class="text-right text-qznprimary" style="cursor: pointer;" data-toggle="collapse" data-target=".multi-collapse-answers_{{part.QuizID}}_{{part.PartID}}_{{part.TypeID}}">Show answers</a>
                        </p>                                        
                        <div ng-repeat="question in questions">
                        <div  class="card mt-2 part-card d-flex">
                            <div class="card-body py-3 d-flex flex-column">
                                <div class="row d-flex">
                                    <div class="col-md-9">
                                            <!-- FOR QUESTION -->
                                            <h4>{{question.Question}}</h4>
                                    </div>

                                    <div class="col-md-3 d-flex justify-content-end align-items-center">
                                        <!-- <div class="row" style="padding: 7.5% 0;"> -->

                                            <a id="updateQuestion" ng-click="transferMultipleData(question.QuestionID, question.QuizID, question.PartID,  question.Question, question.Answer,question.a,question.b,question.c,question.d)" data-toggle="modal" data-target="#multipleChoicemodal_{{part.TypeID}}">
                                                <button class="btn btn-qznwarning mx-2">
                                                <i class="far fa-edit"></i> Update
                                                </button>
                                            </a>

                                            <a href="#">
                                                <button class="btn btn-qzndanger">
                                                    <i class="far fa-trash-alt"></i> Delete
                                                </button>
                                            </a>                                                                
    
                                        <!-- </div> -->
                                    </div>
                                </div>
                                <!--MULTIPLE CHOICE-->
                                <div class="collapse multi-collapse-answers_{{part.QuizID}}_{{part.PartID}}_1">
                                    <div class="card card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item"><i class="fas fa-heart" style="color: #ea5a5a;"></i>   {{question.a}} <i class="far fa-check-circle text-qznsuccess"></i></li>
                                                <li class="list-group-item"><i class="fas fa-square" style="color: #0181c4;"></i>   {{question.b}} <i class="far fa-times-circle text-qzndanger"></i></li>
                                                <li class="list-group-item"><i class="fas fa-circle" style="color: #32b9c4;"></i>   {{question.c}} <i class="far fa-times-circle text-qzndanger"></i></li>
                                                <li class="list-group-item"><i class="fas fa-star" style="color: #ffd011;"></i>   {{question.d}} <i class="far fa-times-circle text-qzndanger"></i></li>
                                            </ul>     
                                </div>                                                    
                            </div>
                            <!--TRUE OR FALSE-->
                             <div class="collapse multi-collapse-answers_{{part.QuizID}}_{{part.PartID}}_2">
                                    <div class="card card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item"><i class="fas fa-heart" style="color: #ea5a5a;"></i>{{question.Answer}} <i class="far fa-check-circle text-qznsuccess"></i></li>
                                            </ul>
                                        </div>    
                                </div>                                                    
                            <!--GUESS WORD-->
                             <div class="collapse multi-collapse-answers_{{part.QuizID}}_{{part.PartID}}_4">
                                    <div class="card card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item"><i class="fas fa-heart" style="color: #ea5a5a;"></i>   {{question.Answer}} <i class="far fa-check-circle text-qznsuccess"></i></li>
                                            </ul>
                                    </div> 
                                </div>                                                    
                            </div>
                        </div>                                        
                    </div>

                <!-- Pagination -->
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item active">
                            <span class="page-link">1</span>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">3</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>

            </div>
        <!-- </div> -->
    </div>
</div>
