<!-- Page content -->
<div id="page-content-wrapper">
    <div class="container-fluid p-0 h-100">
        <!-- <div class="row no-gutters"> -->
        <div class="col-md-12 pt-7 h-100" style="padding: 6rem;">
            <div class="row">
                <div class="col-md-9">
                    <span class="h1">Handled Section(s)</span>
                </div>
                <nav class="col-md-12">
                    <ol class="breadcrumb px-0">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Section List
                        </li>
                    </ol>
                </nav>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#section-list" target="_self" class="nav-link active" data-toggle="tab">Section
                                List</a>
                        </li>
                        <li class="nav-item">
                            <a href="#deactivated" target="_self" class="nav-link" data-toggle="tab">Deactivated</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12 tab-content px-0">
                    <div class="tab-pane col-md-12 px-0 active" id="section-list">
                        <div class="table-responsive ml-3">
                            <table class="table" style="border-collapse: separate; border-spacing: 0 10px;">
                                <tbody>
                                    <tr ng-repeat="y in handledSections.slice(((currentPage-1)*pageSize), ((currentPage)*pageSize)) | filter: searchTxt" class="text-secondary p-4"
                                        style="border: 1px solid black;">
                                        <td class="align-middle py-4" style="height: 140px;">
                                            <div style="height: 100%;">
                                                <p class="h3 mb-0">{{y.section}}</p>
                                                <p class="h6 my-1">{{y.schoolyear}}</p>
                                                <div class="img-stacks">
                                                    <img class="rounded-circle" src="images/marianne.jpg" width="32"
                                                        height="32" />
                                                    <img class="rounded-circle" src="images/chris.jpg" width="32"
                                                        height="32" />
                                                    <img class="rounded-circle" src="images/allen.jpg" width="32"
                                                        height="32" />
                                                    <div class="position-absolute section-count-players">
                                                        {{y.students}} player(s)
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="align-middle" style="width: 15%;">
                                            <a ng-href="#!/viewstudents/{{y.section_id}}/{{y.schoolyear_id}}">
                                                <button type="button" class="btn btn-qznsuccess" style="width: 100%;">
                                                    <i class="far fa-eye"></i>
                                                    View Students
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <ul uib-pagination total-items="handledSections.length" ng-model="currentPage" items-per-page="pageSize" max-size="5" class="pagination-md justify-content-center" ng-show='handledSections.length > 0' boundary-links="true" force-ellipses="true"></ul>

                    </div>

                    

                    <div class="tab-pane col-md-12 px-0" id="deactivated">
                        <div class="table-responsive ml-3">
                            <table class="table" style="border-collapse: separate; border-spacing: 0 10px;">
                                <tbody>
                                    <tr ng-repeat="section in sections | filter: searchTxt" class="text-secondary p-4"
                                        style="border: 1px solid black;">
                                        <td class="align-middle py-4" style="height: 140px;">
                                            <div style="height: 100%;">
                                                <p class="h3 mb-0">{{section.prefix}} {{section.section}}</p>
                                                <p class="h6 my-1">2018 - 2017</p>
                                                <div class="img-stacks">
                                                    <img class="rounded-circle" src="images/marianne.jpg" width="32"
                                                        height="32" />
                                                    <img class="rounded-circle" src="images/chris.jpg" width="32"
                                                        height="32" />
                                                    <img class="rounded-circle" src="images/allen.jpg" width="32"
                                                        height="32" />
                                                    <div class="position-absolute section-count-players">
                                                        +18 players
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="align-middle" style="width: 15%;">
                                            <a ng-href="#!/viewSection/{{section.section_id}}">
                                                <button type="button" class="btn btn-qznsuccess" style="width: 100%;">
                                                    <i class="far fa-eye"></i>
                                                    View
                                                </button>
                                            </a>
                                        </td>

                                        <td class="align-middle" style="width: 15%;">
                                            <button type="button" class="btn btn-qznwarning editSection" style="width: 100%;"
                                                ng-click="transferSectionData(section.section_id, section.course_id, section.section)"
                                                data-toggle="modal" data-target="#sectionModalEdit" data-section="{{section.section}}">
                                                <i class="far fa-edit"></i>
                                                Update
                                            </button>
                                        </td>

                                        <td class="align-middle pr-5" style="width: 18%;">
                                            <button type="button" class="btn btn-qznsuccess deleteSection" style="width: 100%;"
                                                data-toggle="modal" data-target="#deleteSectionModal">
                                                <i class="fas fa-power-off"></i>
                                                Activate
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Pagination -->
            

        </div>
        <!-- </div> -->
    </div>
</div>