<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="../src/css/main.css" type="text/css">
        <link rel="stylesheet" href="../src/fontawesome/css/all.css">
        <script src="../src/js/angular.min.js"></script>
        <script type="text/javascript" src="../src/js/angular-route.min.js"></script>
        <script src="../src/js/angular_homestead.js"></script>
        <!-- <script type="text/javascript" src="../src/js/angular-my-services.js"></script> -->
        <script type="text/javascript" src="../src/js/ngStorage.js"></script>

        <title>Superadmin</title>
    </head>
    <body ng-app="homestead">

        <div id="wrapper">
            <div class="row no-gutters d-flex justify-content-center h-100">
                <div class="col-md-3 align-self-center text-center">
                    <img src="../admin/images/game-controller (2).png" alt="quizzen-temp-logo">
                    <h5>Quizzen</h5>
                    <div class="form-group mt-3 mb-2">
                        <input type="text" class="form-control" ng-model="username" placeholder="Superadmin" style="height: calc(2.25rem + 10px);">
                    </div>
                    <div class="form-group mb-2">
                        <input type="password" class="form-control" ng-model="password" placeholder="Password" style="height: calc(2.25rem + 10px);">
                    </div>
                    <div class="form-group mb-1">
                        <button class="btn btn-qznprimary btn-block" ng-click="logIn()" style="height: calc(2.25rem + 10px);">Sign In</button>
                    </div>
                    <a href="#"><p>Forgot your password?</p></a>
                    <div class="d-flex justify-content-between">
                        <a href="signup.html" class="text-secondary"><p class="m-0 py-2">Don't have an account?</p></a>
                        <button class="btn btn-outline-qznprimary">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>

    </body>

    <script src="../src/js/jquery.min.js"></script>
    <script src="../src/js/popper.min.js"></script>
    <script src="../src/js/bootstrap.min.js"></script>
    <script src="../src/js/script.js"></script>
</html>