<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../src/css/main.css" type="text/css">
    <link rel="stylesheet" href="../src/fontawesome/css/all.css">
    <script src="../src/js/angular.min.js"></script>
    <script type="text/javascript" src="../src/js/angular-route.min.js"></script>
    <script src="../src/js/angular_controllers.js"></script>
    <script type="text/javascript" src="../src/js/angular-my-services.js"></script>
    <script type="text/javascript" src="../src/js/ngStorage.js"></script>

    <title>Superadmin</title>
</head>

<body>
    <!-- Message Request Modal -->
    <div class="modal fade" id="requestMessage-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h4 class="modal-title text-qznprimary">Message</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p>Hey Hey Hey Hey</p>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>

    <!-- New Employee Modal -->
    <div class="modal fade" id="newEmployee-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h4 class="modal-title text-qznprimary">New Employee</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form name="myForm">
                        <div class="alert alert-danger alert-dismissible fade show" ng-show="error">
                            {{error.error}}
                            <button type="button" class="close" data-dismiss="alert" ng-click="error = null">
                                <span>&times;</span>
                            </button>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Employee ID">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Middle Name">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <p class="text-right">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <a href="#" class="btn btn-primary">Add Employee</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Employee Modal -->
    <div class="modal fade" id="editEmployee-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h4 class="modal-title text-qznprimary">Edit Employee</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form name="myForm">
                        <div class="alert alert-danger alert-dismissible fade show" ng-show="error">
                            {{error.error}}
                            <button type="button" class="close" data-dismiss="alert" ng-click="error = null">
                                <span>&times;</span>
                            </button>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Employee ID">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Middle Name">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <p class="text-right">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <a href="#" class="btn btn-primary">Save</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="wrapper" class="h-100">
        <div class="row no-gutters">
            <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white border-bottom w-100">
                <a class="navbar-brand" href="#">
                    <div class="position-relative sidebar-logo-container">
                        <img src="../admin/images/game-controller.png" />
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hidden-menu"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="col-md-12" style="margin-top: 60px;">
                <ul class="nav nav-tabs my-3">
                    <li class="nav-item ml-7">
                        <a href="#request" data-toggle="tab" class="nav-link active">Request <span class="badge badge-primary">6</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#employee-list" data-toggle="tab" class="nav-link">Employee List</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="request">
                        <div class="col-md-11 table-responsive text-nowrap mx-auto">
                            <table class="table table-hover table-fixed">
                                <thead>
                                    <tr>
                                        <th>Employee ID</th>
                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Last Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2015696969</td>
                                        <td>How</td>
                                        <td>Meow</td>
                                        <td>Aw</td>
                                        <td>
                                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#requestMessage-modal">View
                                                Message</a>
                                            <a href="#" class="btn btn-success">Accept</a>
                                            <a href="#" class="btn btn-danger">Decline</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2015696969</td>
                                        <td>How</td>
                                        <td>Meow</td>
                                        <td>Aw</td>
                                        <td>
                                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#requestMessage-modal">View
                                                Message</a>
                                            <a href="#" class="btn btn-success">Accept</a>
                                            <a href="#" class="btn btn-danger">Decline</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2015696969</td>
                                        <td>How</td>
                                        <td>Meow</td>
                                        <td>Aw</td>
                                        <td>
                                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#requestMessage-modal">View
                                                Message</a>
                                            <a href="#" class="btn btn-success">Accept</a>
                                            <a href="#" class="btn btn-danger">Decline</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="employee-list">
                        <div class="col-md-12 px-7">
                            <p class="my-3 text-right">
                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#newEmployee-modal">Add
                                    Employee</a>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-11 table-responsive text-nowrap mx-auto">
                                <table class="table table-hover table-fixed">
                                    <thead>
                                        <tr>
                                            <th>Employee ID</th>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Last Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2015696969</td>
                                            <td>How</td>
                                            <td>Meow</td>
                                            <td>Aw</td>
                                            <td>
                                                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#editEmployee-modal">Edit</a>
                                                <a href="#" class="btn btn-danger">Deactivate?</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2015696969</td>
                                            <td>How</td>
                                            <td>Meow</td>
                                            <td>Aw</td>
                                            <td>
                                                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#editEmployee-modal">Edit</a>
                                                <a href="#" class="btn btn-danger">Deactivate?</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2015696969</td>
                                            <td>How</td>
                                            <td>Meow</td>
                                            <td>Aw</td>
                                            <td>
                                                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#editEmployee-modal">Edit</a>
                                                <a href="#" class="btn btn-danger">Deactivate?</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="../src/js/jquery.min.js"></script>
<script src="../src/js/popper.min.js"></script>
<script src="../src/js/bootstrap.min.js"></script>
<script src="../src/js/script.js"></script>

</html>