@font-face {
    font-family: Roboto-Regular;
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: ProductSans-Regular;
    src: url("../assets/fonts/Product\ Sans\ Regular.ttf");
}

// Dropdown caret
$enable-caret: false !default;

// Colors
$qznprimary: #1e96ff;
$qznsuccess: #32b964;
$qznwarning: #ffd011;
$qzndanger: #ef596e;

// H*, Title color
$titleColor: #424242;

// Border bottom btn
// $border-bottom-btn: #e0e0e0;

// Add theme colors
$theme-colors: (
  "qznsuccess": $qznsuccess,
  "qznprimary": $qznprimary,
  "qzndanger": $qzndanger,
  "qznwarning": $qznwarning
);

$grid-columns: 12 !default;